@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4% 11%;
    --foreground: 0 0% 98%;
    --card: 240 4% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 135 60% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3% 22%;
    --muted-foreground: 240 2% 57%;
    --accent: 135 60% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 3% 22%;
    --ring: 135 60% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 4% 11%;
    --foreground: 0 0% 98%;
    --card: 240 4% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 135 60% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3% 22%;
    --muted-foreground: 240 2% 57%;
    --accent: 135 60% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 3% 22%;
    --ring: 135 60% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
